*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilory';
}

html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #F8F8F8;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    position: relative;
    padding-top: 0.1px;
}
#nav{
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h1{
    /* background-color: blue; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 45px;
    letter-spacing: -1px;
    position: relative;
}
#nav h1:after{
    content: "©";
    font-family: gilroy;
    font-weight: 400;
    font-size: 22px;
    position: absolute;
    top: 22%;
    right: 3.4%;
}
#nav h1:before{
    content: "model management";
    font-family: gilroy;
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    bottom: 5%;
    right: 19%;
    letter-spacing: 0.1px;
    color: #666;
}
#nav h2{
    /* background-color: blue; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #000;
    font-size: 26px;
    font-weight: 600;
}
#nav h2:nth-last-child(2){
    width: 29%;
}
#nav h2:nth-last-child(1){
    width: 10%;
}

#center{
    height: 90%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: 4vw;
}
#content{
    height: 100%;
    width: 100%;
    background-color: blue;
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}
#overly{
    height: 52%;
    width: 100%;
    position: absolute;
    /* background-color: rebeccapurple; */
    bottom: 0;
    padding: 3vw;
    color: #fff;
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 2vw; */
}
#over1 h1{
    font-family: monument;
    font-size: 3.6vw;   
    margin-bottom: 18px;
}
#over1 h2{
   font-size: 1vw;
   padding: 2vw 2vw;
   /* background-color: blue; */
   border-radius: 50%;
   border: 1px solid #fff;
}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1vw 0;
}
#over2 h4{
    font-size: 1.3vw;
    font-weight: 500;
    margin-bottom: 10px;
}
#over2 img{
    height: 3vw;
}
#scroll{
    height: 40vh;
    width: 100%;
    /* padding: 1vw; */
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 2vw;
    margin-top: -30px;
}
.Container{
    height: 95%;
    width: 100%;
    /* background-color: blue; */
    display: inline-block;
    padding: 2vw;
   animation-name: anime;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

#scroll img{
    height: 20vh;
    border-radius: 50%;
    width:10vw;
    object-fit: cover;
    object-position: center;
    margin-left: 3.2vw;
}
@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }   
}

#alphabet{
    height: 11vh;
    width: 100%;
    margin-top: -50px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
#alphabet h5{
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 2px;
    border-bottom: 2px solid #000;
    margin-right: 2vw;
}
#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 2px;
    padding: 0.5vw 0.7vw;
    /* background-color: yellow; */
    border-radius: 50%;
    border: 2px solid #00000000;
    cursor: pointer;
    transition: all ease 0.2s;
}
#alphabet h6:hover{
    border: 2px solid #000;
}
#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}
#page2-part1{
    height: 100%;
    width: 55%;
    background-image: url(https://images.unsplash.com/photo-1623039497550-c4f2ccc7b875?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    position: relative;
}
#page2-part1 h3{
    font-size: 30px;
    position: absolute;
    left: 0;
    bottom: -60px;
    font-weight: 600;
    letter-spacing: 0.1vw;
}
#page2-part2{
    height: 100%;
    width: 40%;
    /* background-color: red; */
}
#page2-part2 img{
    height: 75%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#content1{
    /* width: 100%;
    height: 25%; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* background-color: navajowhite; */
}
#content1 h5{
    width: 38%;
    height: fit-content;
    line-height: 30px;
    font-size: 24px;
    padding-top: 18px;
}
#content1 h6{
   font-size: 15px;
   width: 30%;
   padding-top: 10px;
   margin-right: 10px;
}
#mid{
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}
#left{
    width: 40%;
    height: 100%;
    /* background: red; */
    margin-left: 75px;
    position: relative;
}
#im{
    position: absolute;
    top: 28%;
    left: 20%;
}
#text{
    width: 70%;
    position: absolute;
    top: 77%;
    left: 20%;
    font-size: 30px;
    
}
#right{
    width: 58%;
    height: 70%;
    background-color: yellow;
    margin-right: 90px; 
}
#right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.imgSection{
    width: 100%;
    height: 100vh;
    padding: 3vw 6vw;
    margin-top: -5vw;
}
.imgSection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page3{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: 5vw 4vw;
}
#page3>h1{
    text-align: center;
    font-family: monument;
    text-transform: uppercase;
    font-size: 3vw;
    /* font-weight: 900; */
    margin-bottom: 7vh;
}
.elem{
    height: 15.5vh;
    width: 100%;
    /* background-color: red; */
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 2vw;
    position: relative;
}
.elem img{
    height: 100px;
    width: 120px;
    position: absolute;
    border-radius: 50%;
    left: 12%;
    object-fit: cover;
    opacity: 0;
    transition: all ease 0.7s;
    
}
.elem h4{
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;
    /* background-color: red; */
}
.elem .elem-part2{
    width: 45%;
}
.elem-part2 h1{
   font-size: 2.7vw; 
   font-weight: 500;
}
.elem-part2 h5{
    font-size: 0.8vw; 
    font-weight: 600;
    text-transform: uppercase;
 }
.elem:nth-last-child(1){
    border-bottom: 2px solid #000;
}
.elem:nth-last-child(1) img{
    left: 40%;
}
.elem:nth-last-child(3) img{
    left: 40%;
}
.elem:hover img{
    opacity: 1;
    left: 24%;
}
#marque{
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0.8vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;

}
#marque h1{
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px  black;
    color: transparent;
    font-family: monument;
    margin-right: 16px;
    letter-spacing: 3px;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes move {
    from{
        transform: translateX(0)
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}